# IDE / OS
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
.DS_Store
Thumbs.db
*.log

# Dependencies
node_modules/
.pnp
.pnp.js

# Production / Build
dist/
build/
out/
.next/

# Supabase
.supabase/
supabase/.temp/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.local

# Local DB seed (Optional: if you have sensitive data in seed)
# supabase/seed.sql

frontend/node_modules
